*{margin: 0; padding: 0;}
#message_show{position: fixed; left: 30px; top: 120px; font-size: 10px;}
#aside_rightside{width: 21%; margin-left: 20px; margin-top: 30px; float: left; border: 3px solid #443e58;}
#aside_rightside ul{margin: 5px; padding: 5px; list-style: none;}
#message_exit{width: 12px; height: 12px; font-size: 8px; float: right; margin-right: 5px; margin-top: 5px;}
#member_list{border-bottom: 1px solid lightgray;}
#profile_link{text-decoration: none;}
#profile_link:visited{color: black;}
#message_form h5{width: 100%;}
#message_view{height: 100px; overflow: auto; }
.time{font-size: 10px;}
.my_text{text-align: right; position: relative; left: 20%; }
