.back_tr td{padding: 5px; padding-left: 30px; text-align: left;}
.total_ul {font-size: 12px;}
.col1{width: 210px;}
.col2{width: 210px;}
.col3{width: 210px; text-align: right;}
.main_container{margin: 20px 0 30px 30px;}
.subject{width: 420px; height: 370px; margin-top: 80px;}
.content{width: 670px; overflow: hidden;}
#comment_div{margin-top: 50px;}
