.back_tr {padding: 5px;text-align: left; width: 710px;}
#content{width: 669px; height: 400px; border: 1px solid rgb(170, 170, 170); background: rgb(251, 251, 251);
         font-size: 9pt; line-height: 150%; overflow-y: scroll; resize: none;}
#input_files{padding: 10px;}
#submit_content{margin: 10px; padding: 5px; float: right;}
