#admin_aside_left{text-align: center; float: left; position: relative; width: 226px; left: 100px; top: 30px;}
#admin_aside_left ul{border-collapse: collapse; list-style: none;}
#admin_aside_left ul li{border: 1px solid gray; padding: 10px;}
#admin_aside_left ul li a{font-weight: bold;}
/* 관리자 회원 목록보기(admin_list.php) */
#admin_box { width: 900px; margin: 0 auto;}
#admin_box h3#member_title { margin: 30px 0 10px 0;}
#member_list {list-style: none; margin: 10px 0 30px 0;}
#member_list ul{list-style-type: none;}
#member_list ul li{list-style: none;}
#member_list li:nth-child(1) { font-weight: bold; border-top: solid 2px #dddddd; border-bottom: solid 2px #dddddd; background-color: #eeeeee;}
#member_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#member_list span { display: inline-block; text-align: center;}
#member_list input { width: 40px; height: 20px; text-align: center;}
#member_list button { padding: 3px 10px;}
#member_list .col1 { width: 50px; }
#member_list .col2 { width: 90px; }
#member_list .col3 { width: 70px; }
#member_list .col4 { width: 120px; }
#member_list .col5 { width: 120px; }
#member_list .col6 { width: 170px; }
#member_list .col7 { width: 70px; }
#member_list .col8 { width: 70px; }
#admin_box h3#board_title { margin: 30px 0 10px 0;}
#board_list {list-style: none; margin: 10px 0 50px 0;}
#board_list .col1 { width: 50px; }
#board_list .col2 { width: 100px; }
#board_list .col3 { width: 50px; }
#board_list .col4 { width: 80px; }
#board_list .col5 { width: 170px; }
#board_list .col6 { width: 170px; }
#board_list .col7 { width: 50px; }
#board_list .col8 { width: 100px; }
#board_list li.title { font-weight: bold; border-top: solid 2px #dddddd; border-bottom: solid 2px #dddddd; background-color: #eeeeee; }
#board_list li.title span.col4 { text-align: center; }
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center; }
#board_list button { margin: 0; padding: 5px 10px;}
#page_num {	text-align: center;	margin: 15px 0;}
#page_num li { display: inline; border: none}
