#aside_leftside{position: absolute; top: 30%; left: .5%; width: 10%; height: auto;   text-align: center; }
#aside_leftside img{max-width: 100%; height: auto;}
#banner_block{margin-top: 5px; background-color: transparent; border: none;}
