#aside_leftside{position: absolute; top: 37%; left: 7%; width: 10%; text-align: center; }
#aside_leftside img{max-width: 100%;}
#banner_block{margin-top: 5px; background-color: transparent; border: none;}
